/*骨架*/
body,button,input,select,textarea,table{font-family:\5FAE\8F6F\96C5\9ED1,Arial !important;}
html{position:relative;min-height:100%;background:#ededed;color:#000;}
body{width:100%;min-height:100%;background:#ededed;}
#page_header{position:relative;z-index:905;height:50px;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));  /*x1 y1,x2 y2*/
    background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -ms-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
    background-repeat: repeat-x;
}
#left_panel{position:absolute;z-index:904;top:0;left:0;width:220px;min-height:100%;padding-top:50px;
    background: #3a3633;
    background: -moz-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(93%,#3a3633),color-stop(100%,#2a2725));
    background: -webkit-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -o-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -ms-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    -webkit-transition: all 250ms cubic-bezier(0.1,.57,.1,1);
    transition: all 250ms cubic-bezier(0.1,.57,.1,1);
}
#main{position:relative;min-height:500px;margin-left:220px;padding-bottom:50px;}
#main #ribbon{min-height:40px;background:#474544;}
#main #content{padding:10px;}
#page_footer{position:absolute;bottom:0;left:0;width:100%;height:50px;line-height:49px;background:#2a2725;color:#fff;border-top:1px solid #CECECE;}
#page_footer .inside{padding-left:220px;text-align:center;}


#page_header{padding:0 13px 0 0;}
#page_header .right_side{float:right;}
#page_header .right_side span{display:block;float:left;width:30px;height:30px;line-height:30px;text-align:center;font-size:14px;border-radius:2px;border:1px solid #bfbfbf;color:#6D6A69;margin-left:6px;margin-top:10px;box-shadow:inset 0 0 4px 1px rgba(0,0,0,.08);cursor:pointer;
    background: #f8f8f8;
    background: -moz-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(93%,#f8f8f8),color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: -o-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: -ms-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: linear-gradient(to right,#f8f8f8 93%,#f1f1f1 100%);
}
#page_header .right_side span:hover{color:#222;}
#page_header .right_side span.active{background:#5a5a5a;color:#fff;border:1px solid #5a5a5a;}
#page_header .right_side .toggleMenu_btn{display:none;}

#left_panel nav ul{list-style:none;padding:0;margin:0;}
#left_panel nav ul li{position:relative;}
#left_panel nav ul ul{display:none;}
#left_panel nav ul a{position:relative;display:block;padding:10px;font-size:14px;color:#c0bbb7;text-decoration:none;}
#left_panel nav ul a:hover{color:#fff;background-color:rgba(69,69,69,.8);}
#left_panel nav ul a:active{background:#616161;}
#left_panel nav ul a i{margin-right:5px;}
#left_panel nav ul a b{float:right;font-weight:normal;}
#left_panel nav ul a b i{margin:0;}
#left_panel nav > ul > li > a:hover{background:none;}
#left_panel nav > ul > li > a:active{background:#616161;}
#left_panel nav > ul > li > ul{position:relative;background:rgba(69,69,69,.6);overflow:hidden;}
#left_panel nav > ul > li > ul::before{content:"";display:block;position:absolute;z-index:1;left:23px;top:0;bottom:0;border-left:1px solid #7A7A7A;}
#left_panel nav > ul > li > ul > li::before{content:"";display:block;position:absolute;width:8px;left:23px;top:16px;border-top:1px solid #7A7A7A;z-index:1;}
#left_panel nav > ul > li > ul > li > a{padding:7px 10px 7px 42px;}
#left_panel nav > ul > li > ul > li > ul > li > a{padding:8px 0 8px 60px;}
#left_panel .minifyBtn{
    display:block;
    position:absolute;
    right:0;
    width:36px;
    height:28px;
    margin-top:7px;
    border-bottom:1px solid #302F2F;
    background:#454545;
    border-radius:5px 0 0 5px;
    color:#A8A8A8;
    font-size:19px;
    text-align:center;
    cursor:pointer;
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}
#left_panel .minifyBtn:hover{
    width:40px;
    padding-right:5px;
    background:#646464;
    color:#E4E4E4;
}

.minified #main{margin-left:45px;}
.minified #page_footer .inside{padding-left:45px;}
.minified #left_panel{width:45px !important;}
.minified #left_panel, .minified nav > ul > li {overflow:visible;}
.minified #left_panel nav > ul > li{border-bottom:1px solid #1A1817;border-top:1px solid #525151;}
.minified #left_panel nav > ul > li > a > span{display:none;}
.minified #left_panel nav > ul > li > a > i{margin:0 auto;}
.minified #left_panel nav > ul > li > a > b{display:none;}
.minified #left_panel nav > ul > li > a > span{z-index:2;position:absolute;top:0;left:40px;width:186px;height:38px;padding-left:10px;line-height:38px;background:#f5f5f5;color:#333;border:1px solid #bfbfbf;box-shadow:1px 1px 2px 0 rgba(0,0,0,.2);}
.minified #left_panel nav > ul > li > ul{display:none !important;z-index:1;position:absolute;top:36px;left:40px;width:186px;background:#454545;border:1px solid #bfbfbf;box-shadow:1px 1px 2px 0 rgba(0,0,0,.2);}
.minified #left_panel nav > ul > li > ul::before{border-left:none;}
.minified #left_panel nav > ul > li > ul > li::before{border-top:none;}
.minified #left_panel nav > ul > li:hover > a > span{display:block !important;}
.minified #left_panel nav > ul > li:hover > ul{display:block !important;}
.minified #left_panel nav > ul > li > ul > li > a{padding:7px 10px 7px 10px;}
.minified #left_panel nav > ul > li > ul > li > ul > li > a{padding:7px 10px 7px 30px;}


#main #ribbon .breadcrumb{padding:0 0 0 14px;color:#BBB;line-height:40px;margin-bottom:0;list-style:none;background:none;border-radius:0;  }
#main #ribbon .breadcrumb li i{margin-right:3px;}
#main #ribbon .breadcrumb li:last-child{color:#E4E4E4;}


@media only screen and (min-width:0px) and (max-width:767px) {
    #page_header .right_side .toggleMenu_btn{display:block;}
    #main{margin-left:0;}
    #left_panel{margin-left:-220px;background:#3a3633;}
    #left_panel .minifyBtn{display:none;}
    #page_footer .inside{padding-left:0;text-align:center;}
}