/**
 *============================
 *骨架
 *============================
 */
/*body, button, input, select, textarea, table{font-family:"Helvetica Neue", Helvetica, Arial, \5FAE\8F6F\96C5\9ED1, sans-serif !important;}*/
html{position:relative;min-height:100%;background:#ededed;color:#000;}
body{width:100%;min-height:100%;background:#ededed;}
#page_header{position:relative;z-index:905;height:50px;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));  /*x1 y1,x2 y2*/
    background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -ms-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
    background-repeat: repeat-x;
}
#left_panel{position:absolute;z-index:904;top:0;left:0;width:220px;min-height:100%;padding-top:50px;
    background: #3a3633;
    background: -moz-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(93%,#3a3633),color-stop(100%,#2a2725));
    background: -webkit-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -o-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -ms-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    -webkit-transition: all 250ms cubic-bezier(0.1,.57,.1,1);
    transition: all 250ms cubic-bezier(0.1,.57,.1,1);
}
#main{position:relative;min-height:500px;margin-left:220px;padding-bottom:50px;}
#main #ribbon{min-height:40px;background:#474544;}
#main #content{padding:15px 0;}
#page_footer{position:absolute;bottom:0;left:0;width:100%;height:50px;line-height:49px;background: #322f2c;color:#fff;border-top:1px solid #CECECE;}
#page_footer .inside{padding-left:220px;text-align:center;}
#page_footer .inside i{margin-right:4px;}
#page_footer .inside a{color:#fff;}
.ajax-loading-animation{font-size:20px;padding:0 15px;}
.ajax-loading-error{font-size:20px;padding:0 15px;}

#page_header{padding:0 13px 0 0;}
#page_header .right_side{float:right;}
#page_header .right_side span{display:block;float:left;width:30px;height:30px;line-height:30px;text-align:center;font-size:14px;border-radius:2px;border:1px solid #bfbfbf;color:#6D6A69;margin-left:6px;margin-top:10px;box-shadow:inset 0 0 4px 1px rgba(0,0,0,.08);cursor:pointer;
    background: #f8f8f8;
    background: -moz-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(93%,#f8f8f8),color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: -o-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: -ms-linear-gradient(left,#f8f8f8 93%,#f1f1f1 100%);
    background: linear-gradient(to right,#f8f8f8 93%,#f1f1f1 100%);
}
#page_header .right_side span:hover{color:#222;}
#page_header .right_side span.active{background:#5a5a5a;color:#fff;border:1px solid #5a5a5a;}
#page_header .right_side .toggleMenu_btn{display:none;}
#page_header .logow{display:inline-block;padding-left:10px;padding-top:14px;}
#page_header .logow a{}
#page_header .logow a:hover{text-decoration:none;}
#page_header .logow a:active{text-decoration:none;}
#page_header .logow a:focus{text-decoration:none;}

#left_panel nav ul{list-style:none;padding:0;margin:0;}
#left_panel nav ul li{position:relative;}
#left_panel nav ul ul{display:none;}
#left_panel nav ul a{position:relative;display:block;padding:10px;font-size:14px;color:#c0bbb7;text-decoration:none;}
#left_panel nav ul a:hover{color:#fff;background-color:rgba(69,69,69,.8);}
#left_panel nav ul a:active{background:#616161;}
#left_panel nav ul a i{margin-right:5px;}
#left_panel nav ul a b{float:right;font-weight:normal;}
#left_panel nav ul a b i{margin:0;}
#left_panel nav > ul > li > a:hover{background:none;}
#left_panel nav > ul > li > a:active{background:#616161;}
#left_panel nav > ul > li > ul{position:relative;background:rgba(69,69,69,.6);overflow:hidden;}
#left_panel nav > ul > li > ul::before{content:"";display:block;position:absolute;z-index:1;left:23px;top:0;bottom:0;border-left:1px solid #7A7A7A;}
#left_panel nav > ul > li > ul > li::before{content:"";display:block;position:absolute;width:8px;left:23px;top:16px;border-top:1px solid #7A7A7A;z-index:1;}
#left_panel nav > ul > li > ul > li > a{padding:7px 10px 7px 42px;}
#left_panel nav > ul > li > ul > li > ul > li > a{padding:8px 0 8px 60px;}
#left_panel .minifyBtn{
    display:block;
    position:absolute;
    right:0;
    width:36px;
    height:28px;
    margin-top:7px;
    border-bottom:1px solid #302F2F;
    background:#454545;
    border-radius:5px 0 0 5px;
    color:#A8A8A8;
    font-size:19px;
    text-align:center;
    cursor:pointer;
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}
#left_panel .minifyBtn:hover{width:40px;padding-right:5px;background:#646464;color:#E4E4E4;}

.login_info{width:100%;height:40px;border-bottom:1px solid #525151;margin-bottom:5px;box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);}
.login_info > span{display:block;height:39px;padding:0 10px;border-bottom:1px solid #1A1817;}
.login_info > span > div{position:relative;display:block;height:39px;color:#fff;}
.login_info > span > div > a{display:inline-block;width:100%;max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:39px;line-height:39px;color:#c0bbb7;font-size:14px;}
.login_info > span > div > .dropdown-menu{margin-top:0;}
.login_info .name{margin-right:2px;}

.minified #main{margin-left:45px;}
.minified #page_footer .inside{padding-left:45px;}
.minified #left_panel{width:45px !important;}
.minified #left_panel, .minified nav > ul > li {overflow:visible;}
.minified #left_panel nav > ul > li{border-bottom:1px solid #1A1817;border-top:1px solid #525151;}
.minified #left_panel nav > ul > li:first-child{border-top:0;}
.minified #left_panel nav > ul > li > a > span{display:none;}
.minified #left_panel nav > ul > li > a > i{margin:0 auto;}
.minified #left_panel nav > ul > li > a > b{display:none;}
.minified #left_panel nav > ul > li > a > span{z-index:2;position:absolute;top:0;left:40px;width:186px;height:38px;padding-left:10px;line-height:38px;background:#f5f5f5;color:#333;border:1px solid #bfbfbf;box-shadow:1px 1px 2px 0 rgba(0,0,0,.2);}
.minified #left_panel nav > ul > li > ul{display:none !important;z-index:1;position:absolute;top:36px;left:40px;width:186px;background:#454545;border:1px solid #bfbfbf;box-shadow:1px 1px 2px 0 rgba(0,0,0,.2);}
.minified #left_panel nav > ul > li > ul::before{border-left:none;}
.minified #left_panel nav > ul > li > ul > li::before{border-top:none;}
.minified #left_panel nav > ul > li:hover > a > span{display:block !important;}
.minified #left_panel nav > ul > li:hover > ul{display:block !important;}
.minified #left_panel nav > ul > li > ul > li > a{padding:7px 10px 7px 10px;}
.minified #left_panel nav > ul > li > ul > li > ul > li > a{padding:7px 10px 7px 30px;}
.minified .login_info{margin-bottom:0;}
.minified .login_info > span{padding:0;}
.minified .login_info > span > div > a{text-align:center;}
.minified .login_info > span > div > a > span{display:none;}
.minified .login_info > span > div > a > i{margin:0;color:#c0bbb7;}

#main #ribbon .breadcrumb{padding:0 0 0 14px;color:#BBB;line-height:40px;margin-bottom:0;list-style:none;background:none;border-radius:0;  }
#main #ribbon .breadcrumb li i{margin-right:3px;}
#main #ribbon .breadcrumb li:last-child{color:#E4E4E4;}

@media only screen and (min-width:0px) and (max-width:768px) {
    #page_header .right_side .toggleMenu_btn{display:block;}
    #page_header .right_side .fullScreen_btn{display:none;}
    #main{margin-left:0;}
    #left_panel{margin-left:-220px;background:#3a3633;}
    #left_panel .minifyBtn{display:none;}
    #page_footer .inside{padding-left:0;text-align:center;}
}

.content_wrapper aside{background:#fff;margin-bottom:15px;}
.content_wrapper aside header{line-height:34px;border:1px solid #CCC;border-bottom:0;padding-left:10px;}
.content_wrapper aside header i{margin-right:6px;}
.content_wrapper aside section{border:1px solid #CCC;padding:15px 0;}

/**
 *============================
 *登录页
 *============================
 */
.form-signin {max-width:330px;padding:15px;margin:0 auto;}
.form-signin .logo{font-size:78px;text-align:center;font-weight:bold;color: #444444;font-family:Consolas,"Courier New",monospace;}
.form-signin h3{color:#676a6c;font-size:14px;text-align:center;}
.form-signin .form-control{padding:0 12px;height:46px;line-height:46px;}
.form-signin .form-control:focus {border:2px solid #afacab;outline:0;-webkit-box-shadow:none;box-shadow: none;}
.form-signin .subBtn{background:#009f6c;padding:9px 35px 13px;border:0;color:#fff;font-size:20px;
    -webkit-box-shadow: inset 0 -4px 0 #00855a;
    box-shadow:inset 0 -4px 0 #00855a;
    -webkit-transition: all 250ms cubic-bezier(0.1,.57,.1,1);
    transition: all 250ms cubic-bezier(0.1,.57,.1,1);
}
.form-signin .subBtn:focus{background:#00855a;outline:none;}
.form-signin .help{color:#999;margin:14px 0;text-align:center;}
.form-signin .copyright{text-align:center;margin:14px 0;}
.form-signin .copyright i{margin-right:4px;}
.form-signin .copyright a{color:#3a3633;}

/**
 *============================
 *对bootstrap的补全或覆盖
 *============================
 */
.table thead,.table tfoot{background:#ebebeb;}
.form-inline .gap{display:inline-block;width:10px;}
@media only screen and (min-width:0px) and (max-width:767px) {
    .form-inline .gap{display:none;width:0;height:0;}
}
hr{margin:15px 0;border-top:1px solid #f0f0f0;}
.help-block{margin-bottom:0;}
button i,a i{margin-right:6px;}
.pagination button i,.pagination a i{margin:0;}
.my_panel .heading{padding:8px 10px;font-weight:bold;background:#ebebeb;border-bottom:2px solid #ddd;}
.my_panel .body{padding:10px 10px 20px;}
.my_panel .body .table{margin-bottom:0;}
.my_panel .body .table tr:first-child td{border-top:0;}
.my_panel .body .table thead,.my_panel .body .table tfoot{background:none !important;}
form .title_bar{padding:8px 10px;font-weight:bold;background:#ebebeb;border-bottom:2px solid #ddd;margin-bottom:14px;}
.form-horizontal .modal-content .form-group {margin-left:0 !important;margin-right:0 !important;}
.modal-header .modal-title{font-size:16px;}

/**
 *============================
 *DataTables的补全或覆盖
 *============================
 */
div.dataTables_wrapper div.dataTables_paginate{margin:20px 0 0 0 !important;}

/**
 *============================
 *bootstrap-datepicker的补全或覆盖
 *============================
 */


/**
 *============================
 *ajaxForm
 *============================
 */
.ajaxForm_tip_success{color:#4cae4c;font-size:14px;}
.ajaxForm_tip_warning{color:#f0ad4e;font-size:14px;}

/**
 *============================
 *询问弹出框
 *============================
 */
.J_confirm_btn i{display:none;}
.J_confirm_btn.subBtn_sending i{display:inline-block;}

/**
 *============================
 *树形视图
 *============================
 */
.J_tree_table th,
.J_tree_table td {
    vertical-align:middle !important;
    border-top:1px solid #f0f0f0 !important;
}
.table-responsive > .J_tree_table > thead > tr > th,
.table-responsive > .J_tree_table > tbody > tr > th,
.table-responsive > .J_tree_table > tfoot > tr > th,
.table-responsive > .J_tree_table > thead > tr > td,
.table-responsive > .J_tree_table > tbody > tr > td,
.table-responsive > .J_tree_table > tfoot > tr > td {
    white-space: nowrap;
}
.J_tree_table > tbody + tbody {border-top:0 !important;}
.J_tree_table .J_pull_btn{display:inline-block;width:20px;height:20px;}
.J_tree_table .pull_down{background:url(../images/icon_list.png) 0 -20px no-repeat !important;cursor:pointer;}
.J_tree_table .pull_up{background:url(../images/icon_list.png) 0 0 no-repeat !important;cursor:pointer;}
.J_tree_table .blank_btn{display:inline-block;width:20px;height:20px;background:url(../images/icon_list.png) -20px 0 no-repeat;}
.J_tree_table .end{display:inline-block;width:46px;height:20px;vertical-align:middle;cursor:pointer;background:url(../images/icon_list.png) 0 -72px no-repeat;}
.J_tree_table .space{display:inline-block;width:46px;height:20px;vertical-align:middle;cursor:pointer;}
.J_tree_table input[type=text]{
    display: inline-block;
    margin-right:6px;
    width: 35px;
    height: 28px;
    font-size: 14px;
    padding:0 4px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
